body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input-box1{
  height: 250px;
  background-color: black;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}
.input-box{
  height: 250px;
  background-color: black;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  width: 90%;
}
.main-box{
  height: 50px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-right: none;
  border-radius: 10px;
  
}
.main-box1{
  height: 50px;
  width: 15%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 0%;
  background-color: #0000FF;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 10px;

}
.main-head{
  margin-top: 10px;
 text-align: center;
 color: #fff;
 font-size: 25px;
}

.main-box2{
  width: 60%;
  margin: auto;
}



.password-feature{
  display: flex;
  justify-content: space-around;
  color: gold;
  width: 80%;
  margin: auto;
}
@media (max-width:578px){
  .input-box{
    height: auto;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  }
  .main-box1 {
    height: 50px;
    width: 35%;
  }
  .main-box2{
    width: 100%;
  }
  .password-feature{
    display: block;
    
  }
.pass-range{
  display: flex;
  justify-content: space-between;
}
}
